.hw-change-quantity-component-root {
  max-width: 400px;
}

.hw-sale-find-item-root {
  min-width: 700px;
  max-width: 900px;
  min-height: 600px;
  max-height: 80%;
}

.hw-sale-paying-dialog-root {
 min-width: 950px;
}

.hw-cash-receipt-dialog-root {
    min-width: 400px;
    max-width: 550px;
}

.cash-receipt-customer-part {
  position: relative;
  min-width: 210px;
  max-width: 300px;
}