
.user-view-render {
  min-width: 370px;
  max-width: 370px;
  margin-right: 20px;
}

.user-search-view {
  max-height: calc(80vh - 65px);
  height: calc(80vh - 65px);
}




.user-form-root {
  max-width: 650px;
}

.user-info-general-details {
  width: 400px;
  max-width: 400px;
}

.my-profile-change-password-form {
  max-width: 400px;
}